@function fade($color, $amount) {
  @return change-color($color, $alpha: $amount / 100%);
}

// adapted from
// https://github.com/atom/atom/tree/master/packages/one-dark-syntax

// Config
$syntax-hue:        220;
$syntax-saturation: 13%;
$syntax-brightness: 18%;

// Monochrome
$mono-1: hsl($syntax-hue, 14%, 71%); // default text
$mono-2: hsl($syntax-hue,  9%, 55%);
$mono-3: hsl($syntax-hue, 10%, 40%);

// Colors
$hue-1:   hsl(187, 47%, 55%); // <-cyan
$hue-2:   hsl(207, 82%, 66%); // <-blue
$hue-3:   hsl(286, 60%, 67%); // <-purple
$hue-4:   hsl( 95, 38%, 62%); // <-green

$hue-5:   hsl(355, 65%, 65%); // <-red 1
$hue-5-2: hsl(  5, 48%, 51%); // <-red 2

$hue-6:   hsl( 29, 54%, 61%); // <-orange 1
$hue-6-2: hsl( 39, 67%, 69%); // <-orange 2

// Base colors
$syntax-fg:     $mono-1;
$syntax-bg:     hsl($syntax-hue, $syntax-saturation, $syntax-brightness);
$syntax-gutter: darken($syntax-fg, 26%);
$syntax-guide:  fade($syntax-fg, 15%);
$syntax-accent: hsl($syntax-hue, 100%, 66%);

// General colors
$syntax-background-color:      $syntax-bg;
$syntax-text-color:            $syntax-fg;
$syntax-cursor-color:          $syntax-accent;
$syntax-selection-color:       lighten($syntax-background-color, 10%);
$syntax-selection-flash-color: $syntax-accent;

$syntax-invisible-character-color: $syntax-guide;

// Gutter colors
$syntax-gutter-text-color:                $syntax-gutter;
$syntax-gutter-text-color-selected:       $syntax-fg;
$syntax-gutter-background-color:          $syntax-bg; // unused
$syntax-gutter-background-color-selected: lighten($syntax-bg, 8%);

$syntax-cursor-line: hsla($syntax-hue, 100%,  80%, .04); // needs to be semi-transparent to show search results

atom-text-editor-widget {
  background-color: $syntax-background-color;
  color: $syntax-text-color;

  .line.cursor-line {
    background-color: $syntax-cursor-line;
  }

  .cursor {
    border-left: 2px solid $syntax-cursor-color;
  }

  .selection .region {
    background-color: $syntax-selection-color;
  }

  .invisible-character {
    color: $syntax-invisible-character-color;
  }

  .gutter {
    .line-number {
      color: $syntax-gutter-text-color;

      &.cursor-line {
        color: $syntax-gutter-text-color-selected;
        background-color: $syntax-gutter-background-color-selected;
      }
      &.cursor-line-no-selection {
        background-color: transparent;
      }
    }
  }
}
